<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Quote Info</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
            .box {
                border: 2px solid black;
                padding: 0px 0px 0px 30px;
                margin: 6px;
            }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/login">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li><a class="navbar-brand" href="/edit/(?P<id>/d+)">Edit my Account</a></li>
            <a class="nav-link" href="/logout">Log Out</a>
            <li><h4>Welcome to the Quotes Wall, {{request.session.fname}}</h4></li>
            <li class="nav-item">
            </li>
        </div>
    </nav>
    <div class="container">
        <h1>Posted by {{ user.fname }}</h1>
        {% for x  in quotes %}
        <div class="box">
            <p>Author {{ x.author }}</p>
            <p>Quote: {{ x.content }}</p>
            <p>Created on: {{x.created_on }}</p>
            <p>Last Updated: {{x.updated_on }}</p>
        </div>
        {% endfor %}










    </div>
</body>
</html>